<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card" style="width:460px;margin:100px auto;height:410px">

                        <div class="card-header card-header-warning" style="text-align:center;">
                            <h4 class="card-title ">Login</h4>
                            <p class="card-category">Login to continue1</p>
                        </div>
                        <div class="card-body table-responsive">
                            <br /><br />
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Username" formControlName="username">
                                    </mat-form-field>

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="password" placeholder="Password"
                                            formControlName="password">
                                    </mat-form-field>

                                </div>
                            </div>
                            <br />
                            <p *ngIf="errorMessage" class="loginError">
                                    {{ errorMessage }}
                                  </p>
                        
                            <div class="row">
                                <div class="col-lg-12">
                                    <button mat-raised-button type="submit"
                                        class="btn btn-danger pull-right">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<!-- 

  template: `
  <div class="wrapper">
    <div class="main-panel">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        
          <p>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Username"
                formControlName="username"
              />
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
            </mat-form-field>
          </p>

          <p *ngIf="errorMessage" class="loginError">
            {{ errorMessage }}
          </p>

          <p class="loginButtons">
            <button type="submit" mat-button>Login</button>
          </p>
      </mat-card-content>
    </mat-card>
    </div>
</div>


  `, -->